.Weather {
  border-radius: 10px;
  background-color: #333a45;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  padding: 20px;
}

.Weather .btn {
  background: #66fcf1;
  color: #1f2833;
}

.Weather .btn:hover {
  opacity: 0.8;
}

.Weather h1 {
  color: #66fcf1;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.Weather ul {
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
}

.Weather li {
  list-style: none;
}

.Weather canvas {
  max-height: 50px;
  padding-bottom: 5px;
}

.Weather p {
  margin: 0;
}

.Weather .temperature {
  color: #66fcf1;
  font-weight: 700;
  font-size: 64px;
  line-height: 48px;
  padding-left: 10px;
}

.Weather .unit {
  color: #66fcf1;
  font-weight: 700;
  position: relative;
  bottom: 36px;
}
