.Weather {
  border-radius: 10px;
  background-color: #333a45;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  padding: 20px;
}

.Weather form {
  display: flex;
  gap: 15px;
  padding: 5px;
}

.Weather .btn {
  flex-basis: 40%;
  background: #66fcf1;
  color: #1f2833;
}

.Weather .btn:hover {
  opacity: 0.8;
}

.Weather h1 {
  color: #66fcf1;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.Weather ul {
  margin: 0;
  padding-left: 10px;
  font-size: 14px;
}

.Weather li {
  list-style: none;
}

.Weather canvas {
  max-height: 50px;
  padding-bottom: 5px;
}
